In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp
from scipy import stats
import math
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean 13.20 (dollars) and standard deviation 2.50 (dollars). A company in this industry employs 40 workers, paying them an average of 12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

In [4]:
n = 40
sigma = 2.50
mu = 13.20
xbar = 12.20

Testing Hypothesis Using z score

In [5]:
z_test = (xbar - mu) / (sigma / np.sqrt(n))
z_test

# Zx = -2.5298221281347035

-2.5298221281347035

In [6]:
Zα = -2.325

In [7]:
Zα = -2.325  # Zα : z_test

if z_test < Zα:
    print("Reject the Null")
else:
    print("Fail to reject Null")

Reject the Null

Testing Hypothesis Using p value

In [8]:
z_test = (xbar - mu) / (sigma / np.sqrt(n))
z_test

-2.5298221281347035

In [9]:
pvalue = stats.norm.cdf(z_test) # left side area
pvalue

0.005706018193000826

In [10]:
# Comparing "p_value" with "α" value
 
alpha = 0.01   # (α = 1% --> 1-99%) it is given in the question

if pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

EXERCISE 2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

In [11]:
α = 0.01

In [19]:
dfsoil = pd.read_csv("soil - Sheet1.csv", sep = ",")

In [20]:
dfsoil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [22]:
dfsoil.shape

# 35 rows and 2 columns

(35, 2)

In [21]:
dfsoil["Soil1"].mean()

1.6918

In [23]:
dfsoil["Soil2"].mean()

1.4171142857142855

In [24]:
stats.ttest_ind(dfsoil["Soil1"], dfsoil["Soil2"])

Ttest_indResult(statistic=nan, pvalue=nan)

In [25]:
dfsoil.isnull().value_counts()

Soil1  Soil2
False  False    30
True   False     5
dtype: int64

In [ ]:
dfsoil.info()

In [ ]:
dfsoil.isnull()

In [ ]:
# ttest_ind() function gives the statistics for the Independent Two-sample test (for the mean)

indTest = stats.ttest_ind(dfsoil["Soil1"], dfsoil["Soil2"], nan_policy='omit')

indTest

In [ ]:
indTest1 = stats.ttest_ind(dfsoil.dropna()["Soil1"], dfsoil.dropna()["Soil2"])

indTest1

In [ ]:
indTest

In [ ]:
indTest.pvalue

In [ ]:
# Comparing p value

alpha = 0.01      # alpha/2 = 0.005

if indTest.pvalue < alpha/2:
    print("Reject the Null")
else:
    print("Fail to reject")

In [ ]:
neg_t_005 = stats.t.ppf(0.005, 63)  # negative t-score of significant level for α = 0.01

neg_t_005

In [ ]:
pozt005 = stats.t.ppf(0.995, 63) # positive t-score of significant level for α = 0.01

pozt005

In [ ]:
dfsoil.describe()

In [ ]:
s1 = dfsoil['Soil1'].std()
s1

In [ ]:
s2 = dfsoil['Soil2'].std()
s2

In [ ]:
mean1 = dfsoil['Soil1'].mean()
mean1

In [ ]:
mean2 = dfsoil['Soil2'].mean()
mean2

In [ ]:
n1 = 30

mean1 = 1.6918

s1 = 0.20690284243310084

n2 = 35

mean2 = 1.4171142857142858

s2 = 0.219184

In [ ]:
(1.691800 - 1.4171142857142858) / math.sqrt((((29*s1**2) + (34*s2**2)) / 65) * ((1/29)+(1/34)))

In [ ]:
t = (mean1 - mean2) / math.sqrt((s1**2/30) + (s2**2/35))
t

In [ ]:
squareds1 = dfsoil["Soil1"].std()**2

squareds2 = dfsoil["Soil2"].std()**2

In [ ]:
t = (1.691800 - 1.4171142857142858) / math.sqrt((squareds1/30) + (squareds2/35))
t

In [ ]:
# comparing t-value with critical value

critical_value = 2.575

if t > critical_value:
    print("Reject the Null")
else:
    print("Fail to reject")

EXERCISE 3. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats. 2015 PISA Test Dataset

(i) Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).

(ii) Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.

CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [ ]:
# PISA Test Dataset

dfpisa = pd.read_csv("2015 PISA Test - Sheet1.csv", sep = ",")

dfpisa.head()

In [ ]:
dfpisa.sample(20)

In [ ]:
dfpisa[dfpisa['Continent_Code'].isnull()==True]

In [ ]:
dfpisa['Continent_Code'].fillna(value='NA', inplace = True)

In [ ]:
dfpisa[dfpisa['Continent_Code']=='NA'].head(10)

In [ ]:
dfpisa.shape

In [ ]:
dfpisa.describe()  # for all continents

In [ ]:
dfpisa.Continent_Code.unique()

In [ ]:
# First of all let's see how distribute the PISA scores for all over the world.

fig, axes = plt.subplots(1,4, figsize=(20,6))

sns.histplot(dfpisa['internet_users_per_100'], kde=True, ax=axes[0])
sns.histplot(dfpisa['Math'], kde=True, ax=axes[1])
sns.histplot(dfpisa['Reading'], kde=True, ax=axes[2])
sns.histplot(dfpisa['Science'], kde=True, ax=axes[3]);

In [ ]:
dfEU = dfpisa[dfpisa["Continent_Code"]=="EU"]
dfEU.head()

In [ ]:
dfpisa[dfpisa["Continent_Code"]=="EU"].describe()

In [ ]:
dfEU.shape

In [ ]:
dfEU.var()

In [ ]:
# to confirm if math std came from describe is true.

np.sqrt(1235.550805)

In [ ]:
dfEU.boxplot(figsize=(10,6));

In [ ]:
fig, axs = plt.subplots(2, 2, figsize=(12, 12))

sns.histplot(data=dfEU, x="internet_users_per_100", kde=True, color="skyblue", ax=axs[0, 0])
sns.histplot(data=dfEU, x="Math", kde=True, color="olive", ax=axs[0, 1])
sns.histplot(data=dfEU, x="Reading", kde=True, color="gold", ax=axs[1, 0])
sns.histplot(data=dfEU, x="Science", kde=True, color="teal", ax=axs[1, 1]);

In [ ]:
dfEU.hist(figsize=[14,8]);

In [ ]:
dfAS = dfpisa[dfpisa["Continent_Code"]=="AS"]
dfAS

In [ ]:
dfAS.shape

In [ ]:
dfAS.describe()

In [ ]:
dfAS.var()

In [ ]:
dfAS.boxplot(figsize=(10, 6));

In [ ]:
fig = plt.subplots(figsize=(8, 6))

sns.boxplot(data=dfAS);

In [ ]:
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

sns.histplot(data=dfAS, x="internet_users_per_100", kde=True, color="skyblue", ax=axs[0, 0])
sns.histplot(data=dfAS, x="Math", kde=True, color="olive", ax=axs[0, 1])
sns.histplot(data=dfAS, x="Reading", kde=True, color="gold", ax=axs[1, 0])
sns.histplot(data=dfAS, x="Science", kde=True, color="teal", ax=axs[1, 1]);

In [ ]:
dfAS.hist(figsize=[14,8]);

In [ ]:
dfpisa[dfpisa["Continent_Code"]=="AS"].describe()

In [ ]:
dfSA = dfpisa[dfpisa["Continent_Code"]=="SA"]
dfSA

In [ ]:
dfSA.shape

In [ ]:
dfSA.describe()

In [ ]:
dfSA.var()

In [ ]:
dfSA.boxplot(figsize=(10, 6));

In [ ]:
fig = plt.subplots(figsize= (24,6))

sns.boxplot(data=dfSA, orient="h");

In [ ]:
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

sns.histplot(data=dfSA, x="internet_users_per_100", kde=True, color="skyblue", ax=axs[0, 0])
sns.histplot(data=dfSA, x="Math", kde=True, color="olive", ax=axs[0, 1])
sns.histplot(data=dfSA, x="Reading", kde=True, color="gold", ax=axs[1, 0])
sns.histplot(data=dfSA, x="Science", kde=True, color="teal", ax=axs[1, 1]);

In [ ]:
dfSA.hist(figsize=[14,8]);

In [ ]:
dfAF = dfpisa[dfpisa["Continent_Code"]=="AF"]
dfAF

In [ ]:
dfAF.describe()

In [ ]:
dfAF.shape

In [ ]:
dfAF.var()

In [ ]:
dfAF.boxplot(figsize=(10, 6));

In [ ]:
dfAF3columns = dfAF[["Math", "Reading", "Science"]]
dfAF3columns

In [ ]:
dfAFinternet = dfAF[["internet_users_per_100"]]
dfAFinternet

In [ ]:
fig, axes = plt.subplots(1,2, figsize=(20,4))

sns.boxplot(data=dfAFinternet, orient='h', ax=axes[0], color="skyblue").set(title='Internet Users in AF')
sns.boxplot(data=dfAF3columns, orient='h', ax=axes[1], color="skyblue").set(title='PISA Math, Reading & Science Scores in AF')

axes[0].set(xlabel='internet users per 100 in AF')
axes[1].set(xlabel='Math, Reading & Science Scores in AF');

In [ ]:
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

sns.histplot(data=dfAF, x="internet_users_per_100", kde=True, color="skyblue", ax=axs[0, 0])
sns.histplot(data=dfAF, x="Math", kde=True, color="olive", ax=axs[0, 1])
sns.histplot(data=dfAF, x="Reading", kde=True, color="gold", ax=axs[1, 0])
sns.histplot(data=dfAF, x="Science", kde=True, color="teal", ax=axs[1, 1]);

In [ ]:
dfAF.hist(figsize=[14,8]);

In [ ]:
sns.pairplot(dfpisa, hue = 'Continent_Code', corner = True);

In [ ]:
dfpisa.hist();

In [ ]:
The null hypothesis that the population means of the two groups are not significantly different (H0: μA = μB)

The alternative hypothesis is (H0: μA ≠ μB)

In [ ]:
# With using nan_policy='omit'. 
# In this study we will use this t value found by nan_policy='omit'.

statistic, pvalue = stats.ttest_ind(dfEU.Math, dfAS.Math, nan_policy='omit')  # independet T test

statistic, pvalue

In [ ]:
EU = dfpisa[dfpisa['Continent_Code']=='EU'].Math
AS = dfpisa[dfpisa['Continent_Code']=='AS'].Math
Mathstatistic, Mathpvalue = stats.ttest_ind(EU, AS, nan_policy='omit')   # independent T test

Mathstatistic, Mathpvalue 

## CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [ ]:
critical_pvalue = 0.025

if Mathpvalue < critical_pvalue:
    print("Reject the Null")
else:
    print("Fail to reject")

In [ ]:
dfEU.Math.describe()

In [ ]:
dfAS.Math.describe()

In [ ]:
mathmeandiff = (dfEU.Math.mean()) - (dfAS.Math.mean())

mathmeandiff

In [ ]:
fig, axes = plt.subplots(1,2, figsize=(12,3))

sns.boxplot(dfEU['Math'], ax=axes[0]).set(title='PISA Math Scores in EU')
sns.boxplot(dfAS['Math'], ax=axes[1]).set(title='PISA Math Scores in AS')

axes[0].set(xlabel='Math Scores in EU')
axes[1].set(xlabel='Math Scores in AS');

In [ ]:
plt.figure(figsize=(6,6))
plt.boxplot([dfEU['Math'],dfAS['Math']], showmeans=True, widths = 0.4)

plt.title('PISA Scores by Math')
plt.ylabel('Math Scores')
plt.xticks([1, 2], ['Europe', 'Asia'])
y_ticks = np.arange(300, 600, 20)
plt.yticks(y_ticks)

EXERCISE 4.The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.

CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128

In [ ]:
# Placement Test Scores

dfscores = pd.read_csv("students_2014.csv", sep = ",", na_values = ".", index_col = 0)

In [ ]:
dfscores.sample(10)

In [ ]:
dfscores.shape

In [ ]:
dfscores[["English", "Math"]].isnull().value_counts()

# English has 24+2 = 26 Null values and Math has 11+2 =13 Null values

In [ ]:
# Drop NaN data 

dfscoresdrop = dfscores[["English", "Math"]].dropna()

In [ ]:
dfscoresdrop.isnull().value_counts()

In [ ]:
dfscores[["English", "Math"]]

In [ ]:
dfscoresdrop

In [ ]:
dfscores[["English", "Math"]].describe()

In [ ]:
dfscores['English'].std()

In [ ]:
dfscores['English'].var()

In [ ]:
dfscores['Math'].std()

In [ ]:
dfscores['Math'].var()

In [ ]:
Englishmean =dfscores['English'].mean()
Englishmean

In [ ]:
Mathmean = dfscores['Math'].mean()
Mathmean

In [ ]:
Xmeandiff = Englishmean - Mathmean
Xmeandiff

In [ ]:
#With using dropna()

stats.ttest_ind(dfscores.dropna()["English"], dfscores.dropna()["Math"])

In [ ]:
# With using nan_policy='omit'. In this study we will use this t value found by nan_policy='omit'.

paired = stats.ttest_rel(dfscores["English"], dfscores["Math"], nan_policy='omit')
paired

In [ ]:
tscores = paired.statistic
tscores

In [ ]:
pvaluescores = paired.pvalue
pvaluescores

In [ ]:
# compare using p-value 

critical_pvalue = 0.025

if pvaluescores < critical_pvalue:
    print("Reject the Null")
else:
    print("Fail to reject")

In [ ]:
# compare using t-score

critical_tscore = 1.965

if tscores > critical_tscore:
    print("Reject the Null")
else:
    print("Fail to reject")

In [ ]:
Engstd = dfscores['English'].std()
Engstd

In [ ]:
Mathstd = dfscores['Math'].std()
Mathstd

In [ ]:
Mathstd - Engstd

In [ ]:
dfeng_math = dfscores[["English", "Math"]]
dfeng_math

In [ ]:
dfeng_math['English - Math'] = dfeng_math['English'] - dfeng_math['Math']

In [ ]:
dfeng_math.dropna(inplace = True)

In [ ]:
dfeng_math.head()

In [ ]:
dfeng_math.shape

In [ ]:
mean_Diff = dfeng_math['English - Math'].mean()
mean_Diff

In [ ]:
dfeng_math['d-dbar'] = dfeng_math['English - Math'] - mean_Diff

dfeng_math

In [ ]:
dfeng_math['d-dbar_sqr'] = dfeng_math['d-dbar']**2

dfeng_math

In [ ]:
dfeng_math['d-dbar_sqr'].sum()

In [ ]:
print(len(dfeng_math))
sigma_Diff = math.sqrt(dfeng_math['d-dbar_sqr'].sum()/(len(dfeng_math)-1))
sigma_Diff

In [ ]:
pairedtscore = (mean_Diff-0) / (sigma_Diff/math.sqrt(len(dfeng_math)))

pairedtscore

In [ ]:
dfeng_math_mean = dfeng_math['English - Math'].mean()

In [ ]:
dfeng_math_std = dfeng_math['English - Math'].std()

In [ ]:
dfeng_math_sqrt = math.sqrt(len(dfeng_math))

In [ ]:
dfeng_math_tscore = dfeng_math_mean / (dfeng_math_std / dfeng_math_sqrt)

dfeng_math_tscore

In [ ]:
# This is the p-value for one-side 

Paired_pvalue1 = sp.stats.t.sf(abs(36.31256898171988), df=397)
Paired_pvalue1

In [ ]:
# This is the p-value for two-side 

Paired_pvalue2 = sp.stats.t.sf(abs(36.31256898171988), df=397)*2
Paired_pvalue2

In [ ]:
critical_tscore = 1.965

if pairedtscore > critical_tscore:
    print("Reject the Null")
else:
    print("Fail to reject")

In [ ]:
critical_pvalue = 0.025

if Paired_pvalue1 < critical_pvalue:
    print("Reject the Null")
else:
    print("Fail to reject")

In [ ]:
dfeng_math.head()

In [ ]:
dfeng_math[['English', 'Math']].plot(kind='box', figsize=(8,8));

In [ ]:
#plt.figure(figsize=(7,5))
fig, axs = plt.subplots(ncols=2, figsize=(10,8))
sns.violinplot(y=dfeng_math['English'], data=dfeng_math, ax=axs[0])
sns.violinplot(y=dfeng_math['Math'], data=dfeng_math, ax=axs[1]);

In [ ]:
fig, axs = plt.subplots(figsize=(8,8))
df = pd.DataFrame(data=dfeng_math, columns=["English", "Math"])
sns.boxplot(x="variable", y="value", data=pd.melt(df))

plt.show(

In [ ]:
fig, axs = plt.subplots(figsize=(8,8))
df = pd.DataFrame(data=dfeng_math, columns=["English", "Math"])
sns.violinplot(x="variable", y="value", data=pd.melt(df))
plt.show()